header {
    font: var(--text-md);
    
    & h1 {
        font: var(--text-lg);
        color: var(--text-color-primary);
        padding-top: 1rem;
        margin-bottom: .5rem;
    }
    
    & #info {    
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;

        gap: 1rem;
        width: 17.5rem;
        padding-top: 2rem;
    }
    
    & #info li {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

}

@media (width>=80em) {
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 2rem;
    }

    & #profile {
        display: flex;
        gap: 2rem;

        & > div {
            max-width: 24rem;
        }
    }

    & #info {    
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
}