main {
    display: flex;
    flex-wrap: wrap;

    gap: 1.5rem;
    /* padding-block: 24px; */
}

main img {
    width: 20.5rem;
    height: 20.5rem;
    object-fit: cover;
}

@media (width >=80em) {

main img {
    width: 17.875rem;
    height: 17.875rem;
    object-fit: cover;
}
}